

<h1 [style.backgroundColor]="backgroundColor" class="container text-primary">Hello world</h1>
<h1><a routerLink="first">Router Link Example</a></h1>
<input type="text" [value]="backgroundColor" [placeholder]="placeHolder">
<input type="submit" [value]="buttonName">

<h1>{{age}}</h1>
<h1>{{name}}</h1>

<input type="text" (input)="onNameChange($event)">
<p>{{name}}</p>

<input type="text" [(ngModel)]="ng_model_string">
<p>{{ng_model_string}}</p>

<div class="container">
  <h1>My First Bootstrap Page</h1>
  <p>This is some text.</p>
</div>

<router-outlet></router-outlet>
<!-- <app-first></app-first> -->
<!--
Data Binding
    1. Interpolation
    2. Property Binding
    3. Event Binding
    4. Two way binding
-->